<IfModule dir_module>
    DirectoryIndex index.php index.html
</IfModule>

# AddDefaultCharset UTF-8
# AddCharset UTF-8 .html

<FilesMatch "\.(html)$">
#   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff

ErrorDocument 403 /
<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>

DirectoryIndex index.html
FallbackResource /

<IfModule mpm_winnt_module>
    ThreadsPerChild      150
    MaxRequestsPerChild    0
    #Win32DisableAcceptEx
    SendBufferSize 131072
</IfModule>

RewriteEngine On
RewriteRule ^(controllers) - [R=404,L]
RewriteRule ^(types) - [R=404,L]
RewriteRule ^(request) - [R=404,L]
RewriteEngine Off
